html {
  overflow: hidden !important;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}
body {
  background-color: #f8f4e6;
  margin: 0;
}
.inventoryCardInfo {
  max-width: 220px;
  max-height: 208px;
  border: solid 1px #cdd6dd;
  background-color: #ffffff;
  padding: 8px;
  height: 164px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.imageContainer {
  max-width: 220px;
  width: 220px;
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}
.inventoryCardImage {
  max-width: 220px;
  max-height: 220px;
}
.inventoryCardImageNotExist {
  max-width: 220px;
  padding: 50px;
  background-color: #ebf4ff;
}
.inventoryCardText {
  max-height: 20px;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: #6f7579;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.round {
  position: absolute;
  top: 185px;
  right: 10px;
  cursor: pointer;
  z-index: 2;
}
.inventorySearchPage {
  border: solid 1px #cdd6dd;
  background-color: #ffffff;
  padding: 24px;
  margin: 16px;
  width: 100%;
}
.inventorySearchPageTitle {
  height: 32px;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #6f7579;
  margin: 0;
  padding-right: 16px;
}
.productContainerList {
  display: flex;
  flex-wrap: wrap;
  overflow-x: scroll;
  height: -moz-available;
  height: -webkit-fill-available;
  height: fill-available;
  max-height: 100vh;
}
.productContainer {
  position: relative;
  display: flex;
  justify-content: space-around;
  margin-bottom: 24px;
}
.productContainerHeader {
  border-bottom: 1px solid #cdd6dd;
  margin-bottom: 12px;
  padding-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.collapsibleFilter {
  width: 60px;
  min-height: 100vh;
  border: 1px solid #cdd6dd;
  border-right: none;
  background-color: white;
  right: 0;
}
.collapsibleFilterOpen {
  min-width: 320px;
  min-height: 100vh;
  border: 1px solid #cdd6dd;
  border-right: none;
  background-color: white;
  right: 0;
}
.flexContainer {
  display: flex;
  position:fixed;
  overflow:hidden;
  width: 100%;
}
.allignCenter {
  align-items: center;
  right: 0;
  position: inherit;
  width: auto;
}
.collapsibleIcon {
  padding: 15px;
}
.collapsibleHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px #e6f0f4;
}
.collapsibleHeaderText {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.1;
  letter-spacing: normal;
  text-align: left;
  color: #6f7579;
  padding-left: 16px;
  margin: 0;
}
.collapsibleContent {
  padding: 15px;
  overflow-x: scroll;
  height: -moz-available;
  height: -webkit-fill-available;
  height: fill-available;
  max-height: 100vh;
  padding-bottom: 100px;
}
.collapsibleContent button {
  width: 100%;
  background-color: #6f7579 !important;
}
.leftCorner {
  position: absolute;
  border: 32px solid transparent;
  border-left: 32px solid #6f7579;
  border-top: 32px solid #6f7579;
  top: 5px;
  z-index: 1;
}
.hold {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  position: absolute;
  top: 15px;
  left: 6px;
  transform: rotate(-44deg);
  z-index: 2;
}
.holdActive {
  width: 220px;
  height: 382px;
  background-color: rgba(111, 117, 121, 0.5);
  position: absolute;
  top: 5px;
}
.selectedInventoryContainer {
  min-width: 360px;
  min-height: 100vh;
  border: 1px solid #cdd6dd;
  border-left: none;
  background-color: white;
  left: 0;
}
.selectedInventoryHeader {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.1;
  letter-spacing: normal;
  text-align: left;
  color: #6f7579;
  margin: 0;
  padding: 16px;
  border-bottom: solid 1px #e6f0f4;
  margin: 0;
  padding: 8px 16px;
}
.selectedImageContainer {
  max-width: 164px;
  width: 164px;
  height: 164px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.selectedInventoryCardImage {
  max-width: 164px;
  max-height: 164px;
}
.selectedInventoryCardImageNotExist {
  max-width: 164px;
  padding: 50px;
  background-color: #ebf4ff;
}
.selectedInventoryCardInfo {
  max-width: 164px;
  max-height: 164px;
  min-width: 164px;
  border: solid 1px #cdd6dd;
  background-color: #ffffff;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.selectedInventoryCardContainer {
  display: flex;
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 16px;
  position: relative;
}
.selecytedInventoryCardText {
  font-family: sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: #7f7f7f;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 20px;
}
.paddingLeftRight {
  padding: 1rem;
  border-bottom: solid 1px #e6f0f4;
}
.paddingLeftRight button {
  width: 100%;
  background-color: #6f7579 !important;
}
.paddingLeftRight .whiteButton {
  width: 100%;
  background-color: white !important;
}
.paddingLeftRight .select {
  width: 100%;
}
.paddingLeftRight select {
  width: 100%;
}
.paddingLeftRight label {
  padding-top: 0.5rem;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: #6f7579;
}
.numberSelected {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: right;
  color: #6f7579;
  position: right;
}
.inputHelp {
  font-size: 14px;
  padding: 6px;
}
.inputLabel {
  font-family: sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #7f7f7f;
  padding-bottom: 6px;
}
.collapsibleContent .b-checkbox.checkbox + .checkbox {
  margin-left: 0;
}
.radioButtonWithLabel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2px;
  padding-bottom: 2px;
}
.collapsibleContent .panel-heading {
  background-color: white;
  border-radius: 0;
  color: white;
  font-size: 1.25em;
  font-weight: 300;
  line-height: 1.25;
  padding: 0;
}
.collapsibleContent .panel-heading:first-child, .panel-tabs:first-child, .panel-block:first-child {
    border-top: none;
}
.collapsibleContent .panel-heading, .panel-tabs, .panel-block {
  border-bottom: none;
  border-left: none;
  border-right: none;
}
.inputBold {
  font-family: sans-serif;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.27;
  letter-spacing: normal;
  text-align: left;
  color: #7f7f7f;
}
.collapsibleContent .panel:not(:last-child) {
  margin-bottom: 0;
}
.collapsibleContent .collapse-content {
  padding-bottom: 0.5rem;
}
.collapsibleContent .collapse-content label {
  font-family: sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #7f7f7f;
}
.collapsibleContent .collapse-content .select {
  width: 100%;
}
.collapsibleContent .collapse-content select {
  width: 100%;
}
.scroll {
  overflow-x: scroll;
  height: -moz-available;
  height: -webkit-fill-available;
  height: fill-available;
  max-height: 100vh;
  padding-bottom: 300px;
}
.cardDiv svg {
  width: 32px !important;
  height: 32px !important;
  color: #ffcc33;
}
.mx-panel-date td, .mx-panel-date th {
  font-size: 12px;
  width: 32px;
  height: 32px;
  padding: 0;
  overflow: hidden;
  text-align: center !important;
}
.link {
  color: #006DCC;
  width: min-content;
}
.roundSelected svg {
  width: 32px !important;
  height: 32px !important;
  color: #ffcc33;
}
.roundSelected {
  position: absolute;
  top: 125px;
  right: 170px;
  cursor: pointer;
  z-index: 2;
}
.greenSelected {
  border: 2px solid #5CE62E;
}
.modalContainer {
  width: 960px;
  height: 672px;
  background-color: white;
}
.modalHeader {
  width: 960px;
  height: 72px;
  border-bottom: solid 1px #6f7579;
}
.modalBody {
  height: 480px;
  margin: 24px;
}
.modalFooter {
  width: 960px;
  height: 72px;
  border-top: solid 1px #6f7579;
}
.modalHeader p {
  height: 35px;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #6f7579;
  padding-top: 12px;
  padding-left: 17px;
}
.leftContainer {
  width: 450px;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6f7579;
}
.rightContainer {
  width: 450px;
  height: 450px;
  border: solid 1px #707070;
  margin-left: 12px;
}
.selectedInventoryCardImageNotExist500 {
  width: 450px;
  padding: 100px;
  background-color: #ebf4ff;
}
.selectedInventoryCardImage500 {
  max-width: 450px;
  max-height: 450px;
}
.modalBody p {
  height: 26px;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #6f7579;
  padding-top: 12px;
}
.modalBtnContainer {
  display: flex;
  justify-content: flex-end;
  padding-right: 24px;
  height: 70px;
  align-items: center;
}
.conteinerImageRight {
  display: flex;
  flex-wrap: wrap;
  overflow-x: scroll;
  max-height: -webkit-fill-available;
}
.imageContainerRight {
  margin-left: 3px;
  width: 145px;
  height: 145px;
  display: flex;
  align-items: center;
  border: 1px solid grey;
  margin-top: 3px;
  justify-content: center;
}
.images {
  max-height: 143px;
  max-width: 143px;
}
