html {
  overflow: hidden !important;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}
body {
  margin: 0;
}
.inventoryCardInfo {
  max-width: 220px;
  max-height: 208px;
  border: solid 1px #cdd6dd;
  background-color: #ffffff;
  padding: 8px;
  height: 164px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.imageContainer {
  max-width: 220px;
  width: 220px;
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}
.inventoryCardImage {
  max-width: 220px;
  max-height: 220px;
}
.inventoryCardImageNotExist {
  max-width: 220px;
  padding: 50px;
  background-color: #ebf4ff;
}
.inventoryCardText {
  max-height: 20px;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: #6f7579;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.round {
  position: absolute;
  top: 185px;
  right: 10px;
  cursor: pointer;
  z-index: 2;
}
.inventorySearchPage {
  border: solid 1px #cdd6dd;
  background-color: #ffffff;
  padding: 24px;
  margin: 16px;
  width: 100%;
}
.inventorySearchPageTitle {
  height: 32px;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #6f7579;
  margin: 0;
  padding-right: 16px;
}
.productContainerList {
  display: flex;
  flex-wrap: wrap;
  overflow-x: scroll;
  height: -moz-available;
  height: -webkit-fill-available;
  height: fill-available;
  max-height: 100vh;
  padding-bottom: 52px;
}
.productContainer {
  position: relative;
  display: flex;
  justify-content: space-around;
  margin-bottom: 24px;
}
.productContainerHeader {
  border-bottom: 1px solid #cdd6dd;
  margin-bottom: 12px;
  padding-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.collapsibleFilter {
  width: 60px;
  min-height: 100vh;
  border: 1px solid #cdd6dd;
  border-right: none;
  background-color: white;
  right: 0;
}
.collapsibleFilterOpen {
  min-width: 320px;
  min-height: 100vh;
  border: 1px solid #cdd6dd;
  border-right: none;
  background-color: white;
  right: 0;
}
.flexContainer {
  display: flex;
  position:fixed;
  overflow:hidden;
  width: 100%;
}
.allignCenter {
  align-items: center;
  right: 0;
  position: inherit;
  width: auto;
}
.collapsibleIcon {
  padding: 15px;
}
.collapsibleHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px #e6f0f4;
}
.collapsibleHeaderText {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.1;
  letter-spacing: normal;
  text-align: left;
  color: #6f7579;
  padding-left: 16px;
  margin: 0;
}
.collapsibleContent {
  padding: 15px;
  overflow-x: scroll;
  height: -moz-available;
  height: -webkit-fill-available;
  height: fill-available;
  max-height: 100vh;
  padding-bottom: 100px;
}
.collapsibleContent button {
  width: 100%;
  background-color: #6f7579 !important;
}
.leftCorner {
  position: absolute;
  border: 32px solid transparent;
  border-left: 32px solid #6f7579;
  border-top: 32px solid #6f7579;
  top: 5px;
  z-index: 1;
}
.hold {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  position: absolute;
  top: 15px;
  left: 6px;
  transform: rotate(-44deg);
  z-index: 2;
}
.holdActive {
  width: 220px;
  height: 382px;
  background-color: rgba(111, 117, 121, 0.5);
  position: absolute;
  top: 5px;
}
.selectedInventoryContainer {
  min-width: 360px;
  min-height: 100vh;
  border: 1px solid #cdd6dd;
  border-left: none;
  background-color: white;
  left: 0;
}
.selectedInventoryContainerClose {
  width: 60px;
  min-height: 100vh;
  border: 1px solid #cdd6dd;
  border-left: none;
  background-color: white;
  left: 0;
}
.selectedInventoryHeader {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.1;
  letter-spacing: normal;
  text-align: left;
  color: #6f7579;
  margin: 0;
  padding: 16px;
  margin: 0;
  padding: 8px 16px;
}
.selectedImageContainer {
  max-width: 164px;
  width: 164px;
  height: 164px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.selectedInventoryCardImage {
  max-width: 164px;
  max-height: 164px;
}
.selectedInventoryCardImageNotExist {
  max-width: 164px;
  padding: 50px;
  background-color: #ebf4ff;
}
.selectedInventoryCardInfo {
  max-width: 164px;
  max-height: 164px;
  min-width: 164px;
  border: solid 1px #cdd6dd;
  background-color: #ffffff;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.selectedInventoryCardContainer {
  display: flex;
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 16px;
  position: relative;
}
.selecytedInventoryCardText {
  font-family: sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: #7f7f7f;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 20px;
}
.paddingLeftRight {
  padding: 1rem;
  border-bottom: solid 1px #e6f0f4;
}
.paddingLeftRight button {
  width: 100%;
  background-color: #6f7579 !important;
}
.paddingLeftRight .whiteButton {
  width: 100%;
  background-color: white !important;
}
.paddingLeftRight .select {
  width: 100%;
}
.paddingLeftRight select {
  width: 100%;
}
.paddingLeftRight label {
  padding-top: 0.5rem;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: #6f7579;
}
.numberSelected {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: right;
  color: #6f7579;
  position: right;
}
.inputHelp {
  font-size: 14px;
  padding: 6px;
}
.inputLabel {
  font-family: sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #7f7f7f;
  padding-bottom: 6px;
}
.collapsibleContent .b-checkbox.checkbox + .checkbox {
  margin-left: 0;
}
.radioButtonWithLabel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2px;
  padding-bottom: 2px;
}
.collapsibleContent .panel-heading {
  background-color: white;
  border-radius: 0;
  color: white;
  font-size: 1.25em;
  font-weight: 300;
  line-height: 1.25;
  padding: 0;
}
.collapsibleContent .panel-heading:first-child, .panel-tabs:first-child, .panel-block:first-child {
    border-top: none;
}
.collapsibleContent .panel-heading, .panel-tabs, .panel-block {
  border-bottom: none;
  border-left: none;
  border-right: none;
}
.inputBold {
  font-family: sans-serif;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.27;
  letter-spacing: normal;
  text-align: left;
  color: #7f7f7f;
}
.collapsibleContent .panel:not(:last-child) {
  margin-bottom: 0;
}
.collapsibleContent .collapse-content {
  padding-bottom: 0.5rem;
}
.collapsibleContent .collapse-content label {
  font-family: sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #7f7f7f;
}
.collapsibleContent .collapse-content .select {
  width: 100%;
}
.collapsibleContent .collapse-content select {
  width: 100%;
}
.scroll {
  overflow-x: scroll;
  height: -moz-available;
  height: -webkit-fill-available;
  height: fill-available;
  max-height: 100vh;
  padding-bottom: 300px;
}
.cardDiv svg {
  width: 32px !important;
  height: 32px !important;
  color: #ffcc33;
}
.mx-panel-date td, .mx-panel-date th {
  font-size: 12px;
  width: 32px;
  height: 32px;
  padding: 0;
  overflow: hidden;
  text-align: center !important;
}
.link {
  color: #006DCC;
  width: min-content;
}
.roundSelected svg {
  width: 32px !important;
  height: 32px !important;
  color: #ffcc33;
}
.roundSelected {
  position: absolute;
  top: 125px;
  right: 170px;
  cursor: pointer;
  z-index: 2;
}
.greenSelected {
  border: 2px solid #5CE62E;
  width: fit-content;
}
.modalContainer {
  width: 960px;
  height: 695px;
  background-color: white;
}
.modalHeader {
  width: 960px;
  height: 72px;
  border-bottom: solid 1px #6f7579;
}
.modalBody {
  height: 500px;
  margin: 24px;
}
.modalFooter {
  width: 960px;
  height: 72px;
  border-top: solid 1px #6f7579;
}
.modalHeader p {
  height: 35px;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #6f7579;
  padding-top: 12px;
  padding-left: 17px;
}
.leftContainer {
  width: 450px;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6f7579;
}
.rightContainer {
  width: 450px;
  height: 450px;
  border: solid 1px #707070;
  margin-left: 12px;
  overflow-x: hidden;
  overflow-y: hidden;
}
.selectedInventoryCardImageNotExist500 {
  width: 450px;
  padding: 100px;
  background-color: #ebf4ff;
}
.selectedInventoryCardImage500 {
  max-width: 450px;
  max-height: 450px;
}
.modalBody p {
  height: 20px;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #6f7579;
  padding-top: 12px;
}
.modalBtnContainer {
  display: flex;
  justify-content: flex-end;
  padding-right: 24px;
  height: 70px;
  align-items: center;
}
.conteinerImageRight {
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
  max-height: -webkit-fill-available;
}
.imageContainerRight {
  margin-left: 3px;
  width: 145px;
  height: 145px;
  display: flex;
  align-items: center;
  border: 1px solid grey;
  margin-top: 3px;
  justify-content: center;
}
.images {
  max-height: 143px;
  max-width: 143px;
}
.imageContainerRightGreenSelected {
  margin-left: 3px;
  width: 145px;
  height: 145px;
  display: flex;
  align-items: center;
  margin-top: 3px;
  justify-content: center;
  border: 2px solid #5CE62E;
}
.modal-background {
  background-color: rgba(8, 7, 7, 0.6) !important;
}
.infoTextContainer {
  display: flex;
  height: 50px;
  flex-direction: column;
  justify-content: center;
}
@media print {
  .noprint {
    visibility: hidden;
    display: none !important;
  }
  @page {
    size: A4 landscape;
    margin: 0mm;
  }
}
.printOneContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: white;
}
.printOneButtonContainer {
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 1rem;
}
.printableAreaContainer {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background: white;
}
.printAreaLeft {
  width:650px;
  height: auto;
}
.printAreaLeftHeader {
  display: flex;
  justify-content: space-around;
  padding: 0.5rem;
}
.printAreaLeftBody {
  border: 1px solid black;
  height: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.printAreaLeftBodyImageTrue {
  max-width: 648px;
  max-height: 648px;
}
.printAreaLeftBodyImageFalse {
  width: 350px;
  height: 350px;
}
.printAreaRight {
  width:400px;
  height: 650px;
  margin-left: 1rem;
  border: 1px solid black;
  margin-top: 40px;
}
.printAreaRightHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  border-bottom: 1px solid black;
}
.printAreaRightContant {
  display: flex;
  border-bottom: 1px solid black;
}
.printAreaRightContantLeft {
  width: 30%;
  border-right: 1px solid black;
  padding-left: 0.5rem;
  font-weight: 600;
  align-items: center;
  display: flex;
}
.printAreaRightContantRight {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: 70%;
  overflow-wrap: break-word;
}
.flexEnd {
  display: flex;
  justify-content: flex-end;
}
.printManyContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: white;
}
.printManyHeader {
  display: flex;
  flex-dirrections: row;
  justify-content: space-around;
  padding: 1rem;
  border-bottom: 1px solid black;
  margin-left: 2rem;
  margin-right: 2rem;
}
.printManyTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
}
.flexColumn {
  display: flex;
  flex-direction: column;
}
.flexColumn div {
  display: flex;
}
.flexColumn div p {
  width: 150px;
  margin: 0px;
  font-size: 12px;
}
.printManyFooter {
  padding: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  bottom: 0px;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  width: -webkit-fill-available;
  align-items: center;
  border-top: 1px solid black;
}
.printManyFooter div p {
  width: 450px;
  text-align: right;
  margin: 0px;
  font-size: 12px;
}
.printManyFooter .logo {
  display: flex;
  allign-item: center;
  padding-left: 1rem;
}
.printManyFooter .logo img{
  width: 60px;
  height: 60px;
}
.printManyCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.printManyCardsContainer {
  margin-left: 2rem;
  padding-top: 3rem;
  height: 800px;
}
.printManyCardsContainerCard {
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}
.printManyCardsContainerCardTrue {
  max-width: 248px;
  max-height: 248px;
}
.printManyCardsContainerCardFalse {
  max-width: 200px;
  max-height: 248px;
  padding: 0.5rem;
}
.printManyCards .textContainer {
  display: flex;
  justify-content: space-between;
  max-width: 250px;
}
.header, .header-space,
.footer, .footer-space {
  height: 100px;
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
}
.footerCustom {
  position: fixed;
  bottom: 0;
}
.textContainer p {
  margin: 0px !important;
  font-size: 12px;
}
.wrapDots {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 124px;
  max-width: 124px;
}
.width250 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 240px;
  max-width: 240px;
}
.sizeWrap {
  width: 250px;
  max-width: 250px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  line-break: auto;
  hyphens: manual;
}
.priceContent {
  width: min-content;
  max-width: min-content;
}
.linkEstimate {
  font-size: 16px;
  height: 20px;
}
.reviewItems {
  background-color: white;
  overflow-x: hidden;
}
.reviewItems > .modal-content{
  background-color: white;
  overflow-x: hidden;
  max-width: 100% !important;
  max-height: 100%;
  height: 100%;
}
.reviewItems > .modal-content ~ .modal-content{
  background-color: white;
  overflow-x: hidden;
  max-width: 960px;
  max-height: 100%;
  height: auto;
}
.reviewItems p {
  padding-top: 0px;
  font-size: 12px;
}
.reviewItems .selectedInventoryCardContainer {
  width: 320px;
}
.scroll {
  overflow-x: hidden;
}
.reviewItems .modalBody {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
}
.reviewItems .modalContainer {
  width: auto !important;
}
.reviewItems .modalHeader p {
  height: 35px;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #6f7579;
  padding-top: 12px;
  padding-left: 17px;
}
.reviewItems .modalFooter {
  width: 960px;
  height: 72px;
  border-top: 1px solid #6f7579;
}
.reviewItems .modalBtnContainer {
  display: flex;
  justify-content: flex-end;
  padding-right: 24px;
  height: 70px;
  align-items: center;
}
.reviewItems .button {
  background-color: #fff;
  border-color: #dbdbdb;
  border-width: 1px;
  color: #363636;
  cursor: pointer;
  justify-content: center;
  padding: calc(.375em - 1px) .75em;
  text-align: center;
  white-space: nowrap;
  width: 120px;
}
.reviewItems .infoTextContainer {
  display: flex;
  height: 50px;
  flex-direction: column;
  justify-content: center;
}
.reviewItems .infoTextContainer p {
  height: 20px;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #6f7579;
  padding-top: 12px;
}
.infoRed {
  color: red;
  border: 1px solid red;
  border-radius: 4px;
  padding: 0px 5px 0px 5px;
}
